* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #ff512f, #dd2476);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #fff;
  padding: 25px;
  width: 90%;
  max-width: 420px;
  border-radius: 15px;
  text-align: center;
}

input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
}

button {
  margin-top: 15px;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#questionBox {
  display: none;
  margin-top: 20px;
}

.yesno button {
  width: 45%;
  margin: 10px 2%;
}

#output {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

video {
  display: none;
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
}
.fade-out {
  animation: fadeOut 1.2s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: scale(1.1);
  }
}
